* {
    box-sizing: border-box;
	padding: 0;
	margin: 0;
}

 .list-nav a {
        color: white !important;
        text-decoration: none;
        margin: 0 10px;
        font-weight: bold;
}

 @media only screen and (max-width:650px){
    .list-nav a {
        width: 100vw;
        background-color: #0000AA;
        text-align: center;
        padding: 0px 10px 5px 10px;
        margin: 0;
    }
}